@import helper._
@(taskForm: Form[TaskForm], taskDelForm: Form[TaskForm], tasks: List[Task])(implicit request: RequestHeader, messages: Messages)

@main("Scala Play forms tutorial") {
  <h1>Scala Play forms tutorial</h1>

  @form(action = CSRF(routes.HomeController.simpleFormPost)) {
    @inputText(taskForm("name"),'_showConstraints -> false)
    @select(
      field = taskForm("parent"),
      options = tasks.map(task => task.name -> task.name),
      '_showConstraints -> false
    )
    <input type="submit" value="Add">
  }

  @form(action = CSRF(routes.HomeController.simpleFormPostDel)) {
    @select(
      field = taskDelForm("name"),
      options = tasks.map(task => task.name -> task.name),
      '_showConstraints -> false
    )
    <input type="submit" value="Delete">
  }


  <h1>Task List</h1>
  <ul>
    @for(task <- tasks) {
    <li>@task.name</li>
    }
  </ul>

}



