@import helper._
@(alerts: List[String], taskForm: Form[TaskForm], taskDelForm: Form[TaskDeleteForm], tasks: List[Task])(implicit request: RequestHeader, messages: Messages)

@main("Task Timer - Edit") {
  @bar("","active","")
  <div class="container border col-10">
        <div class="row">
          <div class="col border pt-3 pb-3">
        <h3>Add Task</h3>
        @form(action = CSRF(routes.TaskController.taskAddPost())) {
          @input(taskForm("name"), '_label -> "Task Name:", '_showConstraints -> false) { (id, name, value, args) =>
            <input type="text"  class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
          }
          @input(taskForm("parent"), '_label -> "Parent:", '_showConstraints -> false){ (id, name, value, args) =>
            <select class="custom-select mr-sm-2" name="@name" id="@id" @toHtmlArgs(args)>
              @for(task <- tasks){
                <option value=@task.name>@task.name</option>
              }
            </select>
          }
          <input type="submit" class="btn btn-outline-primary" value="Add">
        }
      </div>

      <div class="col border pt-3 pb-3">
        <h3>Delete Task</h3>
        @form(action = CSRF(routes.TaskController.taskDelPost())) {
          @input(taskDelForm("name"), '_label -> "Task Name:", '_showConstraints -> false){ (id, name, value, args) =>
            <select class="custom-select mr-sm-2" name="@name" id="@id" @toHtmlArgs(args)>
              @for(task <- tasks){
              <option value=@task.name>@task.name</option>
              }
            </select>
          }
          <input type="submit" class="btn btn-outline-danger" value="Delete">
        }
      </div>

      <div class="col border pt-3 pb-3">
        <h3>Task List</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Parent Name</th>
            </tr>
          </thead>
          <tbody>
            @for(task <- tasks) {
            <tr>
              <td>@task.name</td>
              <td>@task.parent</td>
            </tr>
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>

    @for(alert <- alerts) {
    <div class="alert alert-info alert-dismissible fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Info!</strong> @alert
    </div>
    }
}



