@import helper._
@(timerForm: Form[TimerStartForm], tasks: List[Task], isBegin: Boolean, maybeTime: Option[Time])(implicit request: RequestHeader, messages: Messages)

@main("Task Timer") {
    @bar("active","","")

    @if(isBegin){
        @form(action = CSRF(routes.DeckController.timerBeginPost())) {
            @select(
                field = timerForm("taskname"),
                options = tasks.map(task => task.name -> task.name),
                '_showConstraints -> false
            )
            <input type="submit" value="Start" class="btn btn-outline-success my-2 my-sm-0">
        }
    } else {
        @form(action = CSRF(routes.DeckController.timerEndPost())) {

                @select(
                    field = timerForm("taskname"),
                    options = Seq((maybeTime.get.taskName, maybeTime.get.taskName)),
                    '_showConstraints -> true
                )
            <input type="submit" value="End" class="btn btn-outline-success my-2 my-sm-0">
        }
        @form(action = CSRF(routes.DeckController.timerCancelPost())) {
            <input type="submit" value="Cancel" class="btn btn-outline-failure my-2 my-sm-0">
        }
        <div> @maybeTime.get.timeStamp </div>
    }
}



